* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    font-family: sans-serif;
}

#menu {
    display: flex;
    list-style-type: none;
    background-color: #fff;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    font-size: larger;
    margin: 50px;
    font-weight: bolder;
    
    

}

.logo {
    margin-left: 30px;
    margin-top:  10px; ;
    height: 70px;
    width: 70px;
    align-items: center;
    cursor: pointer;
    
}

#backimage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

#navbar {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}

ul a {
    text-decoration: none;
    color: rgb(197, 100, 20);
    
}
a:hover{
    background-color: rgb(201, 209, 83);
}
div#info{
    text-align:center ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform:capitalize;
    word-spacing: 8px;
}
.btn{
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(46, 118, 250);
    color: #f7f3f3;
    font-size: 17px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 10px 10px;
    text-align: center;

}
.btn:hover{
    background-color: rgb(40, 75, 233);
}

