#Featured-Cars-Container57 {
  background-color: #f7f8fa;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  scroll-margin-top: 100px; 
  margin-top: 40px;
}

.featured-cars-header58 {
  padding: 10px;
  position: relative;
  top: 0px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.featured-cars-header58 h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
  text-transform: uppercase;
}

.featured-cars-header58 h2 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.featured-cars-header58 p {
  color: #4d4dfa;
  font-size: 20px;
}

#featured-cars-cards59 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  margin-inline: 10%;
}

#f-cards-container60 {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin-bottom: 10px;
}

#featured-cars-card61 {
  background: rgba(255, 255, 255, 0.85);
  position: relative;
  margin: 10px;
  z-index: 2;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#f-cards-container60:hover #featured-cars-card61 {
  transform: translateY(-55%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#featured-cars-card61:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#featured-cars-card61 img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  background-color: #f9f9f9;
  padding: 15px;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.5);
}

.car-spec62 {
  font-size: 14px;
  color: #777;
  padding: 10px 15px;
  text-align: center;
  border-top: 1px solid #eee;
}

.card-description63 {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #555;
  z-index: 1;
  transition: bottom 0.3s ease;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.card-description63 h2 {
  color: #000;
}

.card-description63 h4 {
  color: #000;
}

#f-cards-container60:hover .card-description63 {
  bottom: 0;
}

.card-description63:hover {
  display: block;
}

#f-cards-container60:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#featured-cars-card61 hr {
  border: none;
  height: 1px;
  background-color: #eee;
  margin: 0;
}
