#content-section64 {
  max-width: 1500px;
  padding: 20px;
  top: 0px;
}

#content-section64 h2 {
  text-align: center;
  margin-bottom: 10px;
 font-size: 2.5rem;
  color: #2c2e4a;
  text-transform: uppercase;
}

.cards65 {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.card66 {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;  
  transition: transform 0.3s, box-shadow 0.3s;
  will-change: transform;
}

.card66:hover {
  transform: translateY(-10px) ;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s cubic-bezier(.68,-0.55,.27,1.55), box-shadow 0.3s;
}

.card66 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card66-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
    /* transition: transform 0.3s cubic-bezier(.68,-0.55,.27,1.55), box-shadow 0.3s ease; */
}

.card66:hover .card66-overlay {
  opacity: 1;
}

.card66-overlay h3 {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.card66-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  z-index: 2;
}

@keyframes fadeInLeft {
  from { opacity: 0; transform: translateX(-80px);}
  to { opacity: 1; transform: translateX(0);}
}
@keyframes fadeInBottom {
  from { opacity: 0; transform: translateY(80px);}
  to { opacity: 1; transform: translateY(0);}
}
@keyframes fadeInRight {
  from { opacity: 0; transform: translateX(80px);}
  to { opacity: 1; transform: translateX(0);}
}
.animate-left {
  animation: fadeInLeft 0.9s cubic-bezier(.68,-0.55,.27,1.55) forwards;
}
.animate-bottom {
  animation: fadeInBottom 0.9s cubic-bezier(.68,-0.55,.27,1.55) forwards;
}
.animate-right {
  animation: fadeInRight 0.9s cubic-bezier(.68,-0.55,.27,1.55) forwards;
}

@keyframes fadeInSection {
  from { opacity: 0; }
  to { opacity: 1; }
}
.animate-fade-in-section {
  animation: fadeInSection 0.9s ease-in;
}
@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-60px);}
  to { opacity: 1; transform: translateY(0);}
}
.animate-fade-in-down {
  animation: fadeInDown 0.7s ease-in;
}

