#backimage33 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  top: 0px;

}
#info34 h1{
  font-size: 22px;
 word-spacing: 10px;
 
}

#info34 {
  font-size: 18px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: capitalize;
  word-spacing: 4px;
  position: absolute;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}

 
#btn35 {
  position: relative;
  top: 25px;
  transition: all 0.3s ease-in-out;
  background-color: #524bfc;
  color: white;
  font-size: 16px;
  padding: 8px 18px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border: none;

  
}

#btn35:hover {
  background-color: #403bd1;
}



